li.menu-item:last-child {
    padding-inline-end: 50px;
    padding-inline-start: 50px;
    border-right: solid 1px;
    border-color: var(--clr2);
}

.img-logo-header {
    width: 10%;
}

li.menu-item:not(:last-child) {
    padding-inline-end: 50px;
    padding-inline-start: 50px;
}

li.menu-item {
    border-left: solid 1px;
    border-color: var(--clr2);
    padding-top: 48px;
    padding-bottom: 48px;
}

.marked a {
    color: #58C93A;
}

li.marked {
    border-bottom: solid 5px #58C93A;
    border-radius: 3px;
}

.bg-black {
    background-color: var(--clr5);
}

.img-logo:hover {
    cursor: pointer;
}

.img-logo-header:hover {
    cursor: pointer;
}