 .main-header {
     padding-block-start: 25px;
     padding-block-end: 25px;
 }
 /* .main-header .clean-list>*:not(:last-child) {
     margin-inline-end: 10px;
     margin-inline-start: 10px;
 } */
 /* .main-header .clean-list:last-child {
     margin-inline-end: 50px;
 } */
 
 .bg-red {
     background-color: var(--clr5);
     border-block-end: solid 2px;
 }
 
 .img-logo:hover {
     cursor: pointer;
 }
 /* .border-underline {
     padding-block-start: 40px;
     padding-inline-end: 30px;
     padding-inline-start: 40px;
     padding-block-end: 40px;
     border-inline-end: solid 1px;
     border-color: var(--clr2);
     color: white;
 } */
 /* .border-first-menu-item {
     border-inline-start: solid 1px;
     border-color: var(--clr2);
 } */
 /* .border-first-menu-item.border-bottom:first-child {
     border-bottom: solid 3px;
     border-bottom-color: #58C93A;
     color: #58C93A;
 } */
 
 .main-flex-container {
     border-inline-end: solid 1px;
     border-inline-start: solid 1px;
     border-block-end: solid 1px;
     border-color: #C2C2C2;
     padding-block-start: 50px;
 }